{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaVersion": "latest"
  },
  "extends": [
    // add more generic rulesets here, such as:
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:vue/vue3-recommended"
    // 'plugin:vue/recommended' // Use this if you are using Vue.js 2.x.
  ],
  "rules": {
    // override/add rules settings here, such as:
    // 'vue/no-unused-vars': 'error',
    "indent": ["error", 4],
    "no-tabs": "error",
    "semi": "warn",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 3
        },
        "multiline": {
          "max": 1
        }
      }
    ]
  },
  "ignorePatterns": ["node_modules", "build", "dist", "public"]
}
